/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-button: #47adf1;
    --pink-button: #9c72e4;
    --green-button: #64c0a9;
    --limegreen-button: #b0c926;
    --purple-button: #d863a1;
    --orange-button: #f29e33;
    --dark-text: #444851;
    --lightgray-text: #cfd4d8;
    --background-color: #f6f8f9;
}

/* body */

body {
    background-color: var(--background-color);
    font-family: "Ubuntu", serif;
}

/* header */

header {
    background-color: white;
}

#header_image {
    padding: 1rem 0.5rem 1rem 1rem;
}

#header_title {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    vertical-align: top;
    padding: 15px 0;
}