/* common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-button: #47adf1;
  --violet-button: #9c72e4;
  --green-button: #64c0a9;
  --limegreen-button: #b0c926;
  --purple-button: #d863a1;
  --orange-button: #f29e33;
  --dark-text: #444851;
  --lightgray-text: #cfd4d8;
  --background-color: #f6f8f9;
}

/* body */

body {
  background-color: var(--background-color);
  font-family: "Ubuntu", serif;
}

/* header */

header {
  background-color: white;
  padding: 1rem 1rem 1rem 1rem;
}


#header_title {
  font-size: 3rem;
  font-weight: bold;
  vertical-align: top;
}

/* main */

main {
  width: 70%;
  margin: auto;
}

.nav_container {
  border-radius: 0.5rem 0.5rem 0 0;
  margin: 3rem 0 0 0;
  background-color: white;
  padding: 2rem 4rem 1rem 4rem;
}

.nav_button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  border: 2px solid;
}

.list_button {
  color: white;
  border: 2px solid;
}

.blue_button {
  border-color: var(--blue-button);
  background-color: var(--blue-button);
}

.violet_button {
  border-color: var(--violet-button);
  background-color: var(--violet-button);
}

.green_button {
  border-color: var(--green-button);
  background-color: var(--green-button);
}

.orange_button {
  border-color: var(--orange-button);
  background-color: var(--orange-button);
}

.purple_button {
  border-color: var(--purple-button);
  background-color: var(--purple-button);
}

.limegreen_button {
  border-color: var(--limegreen-button);
  background-color: var(--limegreen-button);
}

.white_button {
  border-color: var(--lightgray-text);
  background-color: white;
  color: var(--lightgray-text);
}

.main_container {
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: 3px;
  background-color: white;
  padding: 1rem 4rem;
}

.section_task {
  margin: 2rem 0;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark-text);
  margin-bottom: 0.75rem;
}

.ok_button {
  color: var(--green-button);
  border: 2px solid var(--green-button);
  border-radius: 50%;
  padding: 0.15rem 0.35rem;
  margin-right: 0.25rem;
  background-color: white;
}

.no_button {
  color: red;
  border: 2px solid red;
  border-radius: 50%;
  padding: 0.2rem 0.45rem;
  margin-right: 0.25rem;
  background-color: white;
}

.task_title {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--dark-text);
}

.list_button {
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 0.75rem;
}

.row {
  margin-bottom: 1rem;
}